[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.1.7"
djangorestframework = "==3.12.2"
psycopg2-binary = "==2.8.6"
djangorestframework-simplejwt = "==4.6.0"
django-user-activity-log2 = "==0.0.24"
loguru = "==0.5.3"

[dev-packages]

[requires]
python_version = "3.8"
